
.img{
    border: 5px solid rgb(171, 4, 99);
    border-radius: 18px;
    width: 200px;
}
.main{
    border: 5px solid red;
 
    padding: 20px;
    margin: 50px;
    background-color: skyblue;
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 15px solid gold  ;



}
.details{
    padding-left: 50px;
    padding-top: 70px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}